[Unit]
Description=Minecraft Server
After=network.target

[Service]
User=yggdrasill501
WorkingDirectory=/home/yggdrasill501/minecraft-server
ExecStart=/home/yggdrasill501/minecraft-server/start.sh
Restart=always

[Install]
WantedBy=multi-user.target
